<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include('./partials/head') %>
	<body>
		<!-- Header -->
		<% if (locals.user != undefined) { %>
			<%- include('./partials/headerLogueado')  %> 
	<% } else{%>
			<%- include('./partials/header')  %> 
	<% } %> 
		<main>
			<!-- Product detail -->
			<section class="containerProducts products-wrapper">

				<article class="d-flex align-items-center">
					<h2 class="products-title"><%= producto.nombre %>     
						<% if (locals.user != undefined && locals.user.id == producto.id_perfil) { %>
						<a href="/product/update/<%= producto.id %>"> <i class="fa-regular fa-pen-to-square"></i></a>
						<form action="/product/eliminar" method="POST">
							<input type="text" hidden name="id" id="" value="<%= producto.id %>">
							<input class="btn btnDelete" value="Eliminar" type="submit">
						</form>
						<% } %>  
						</h2> 
				</article>

				<article class="product-detail">
					<section class="row">
						<article class="col-12 col-lg-8 product-detail-info">
							<img src=<%= producto.foto %>  alt=<%= producto.nombre %> class="product-detail-img">
							<p class="product-detail-description">
								<%= producto.descripcion %>
							</p>
							
							
						</article>
						<article class="col-12 col-lg-4">
							<section class="comments">
								<% for( let i = 0; i < producto.comentario.length; i++ ) { %>
									<article>
										<a href="/profile/id/<%= producto.comentario[i].perfil.id%>"><img src=<%= producto.comentario[i].perfil.foto_perfil %> alt="Foto perfil"></a>
										<div class="data">
											<p class="user">
											<strong> <a href="/profile/id/<%= producto.comentario[i].perfil.id%>"><%= producto.comentario[i].perfil.usuario %>: </a> </strong>
											<%= producto.comentario[i].texto %></p>
										</div>
									</article>
								<% } %>
							</section>
							<form class="form" action="/product/comentario/<%= producto.id %>" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario">
							<% if (locals.user != undefined) { %>
									<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
								</form>							 
							
							<% } else { %>
								<p class="nocomentario" style="color: red;">Debe estar logueado para comentar</p>
							<% } %>
							<hr>

						</article>

					</section>
				</article>
				
			</section>
		</main>

		<!-- footer -->
		<%- include('./partials/footer') %>

	</body>	
</html>