<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
<%- include('./partials/headerLogueado') %>

	<main>
		<!-- Datos del usuario -->
		<section class="info-usuario container products-wrapper">
			<section class="row">
				<article class="img-container offset-3 col-2">
					<img src="<%= perfil.foto_perfil %>" alt="foto de perfil" class="foto-perfil">
				</article>
				<article class="data-container col-6">
					<div class="d-flex align-items-center ">
						<h1 class="main-title"><%= perfil.usuario %>
							<% if (locals.user.id == perfil.id) { %>
								<a href="/profile/edit">
									<i class="fas fa-cog"></i>
								</a>
							<% }  else { %>
								<a class="btn mt-3 ml-4" href="">SEGUIR</a>
							<% } %>
						</h1>
						
					</div>
					<div>
						<ul>
							<li><%= perfil.email %></li>
							<li><%= perfil.producto.length %> productos</li>
							<li>200 seguidores</li>
							<li>300 comentarios</li>
						</ul>
					</div>
				</article>
			</section>
		</section>

		<!-- Mis productos -->
		<section class="container products-wrapper">
			<section class="row">

				<article class="col-12">
					<h2 class="products-title">Mis productos</h2>
				</article>

				<!-- Show mis productos -->
				<% if (perfil.producto.length > 0) { %>
					<% for( let i = 0; i < perfil.producto.length; i++ ) { %>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/product/id/<%=perfil.producto[i].id%>">
									<figure class="product-box_image">
										<img src=<%=perfil.producto[i].foto %> alt=<%=perfil.producto[i].nombre %>>
									</figure>
									
									<article class="product-box_data">
										<h2><%=perfil.producto[i].nombre %></h2>
										<p><%=perfil.producto[i].descripcion %></p>
										<p>Comentarios: <%=perfil.producto[i].comentario.length %></p>
									</article>
								</a>
							</section>
						</div>
					<% } %>
				<% } else {%>
					<h2> No tienes productos</h2>
					<% } %>

			</section>
		</section>
	</main>

	<!-- footer -->
	<%- include('./partials/footer') %>

</body>	
</html>