<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include('./partials/headerLogueado') %>

		<main class="mainLog">
			<section class="products-wrapper containerLog containerEdit">
				<section class="row">

					<article class="col-12">
						<h2 class="products-title titleLog">Editar mi perfil</h2>
					</article>

					<form action="/profile/edit" method="POST" class="formLog">
						<article class="inputForm">
							<i class="fa-solid fa-envelope fa-xl icon"></i>
							<input type="email" name="email" placeholder="Email" value="<%= perfil.email %>">
						</article >

						<article  class="inputForm">
							<i class="fa-solid fa-user fa-xl icon"></i>
							<input type="text" name="usuario" placeholder="Usuario" class="text" value="<%= perfil.usuario %>">
						</article >

						<article  class="inputForm">
							<i class="fa-solid fa-lock fa-xl icon"></i>
							<input type="password" name="contrasena" placeholder="Contraseña">
						</article >

						<article  class="inputForm">
							<input type="date" name="fechaDeNacimiento" placeholder="Fecha de Nacimiento" value="<%= perfil.fecha_nacimiento %>">
						</article >

						<article  class="inputForm">
							<i class="fa-solid fa-address-card fa-xl icon"></i>
							<input type="number" name="documento" placeholder="Número de Documento" value="<%= perfil.documento %>"> 
						</article >

						<article  class="inputForm">
							<i class="fa-regular fa-image fa-xl icon"></i>
							<input type="text" name="fotodeperfil" placeholder="Foto de Perfil" class="text" value="<%= perfil.foto_perfil%>">
						</article >

						<button type="submit" class="cambios">Guardar cambios</button>
					</form>

				</section>
			</section>
		</main>

		<!-- footer -->
		<section class="sectionLego">
			<img src="/images/lego.png" class="lego" alt="">
		</section>
		<%- include('./partials/footer') %>

	</body>

</html>