<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
<%- include('./partials/headerLogueado') %>

	<main>
		<!-- Datos del usuario -->
		<section class="info-usuario container products-wrapper">
			<section class="row">
				<article class="img-container offset-3 col-2">
					<% if (profile.foto_perfil != null) { %>
						<img src="<%= profile.foto_perfil %>" alt="foto de perfil" class="foto-perfil">
					<% } else {%>
						<img src="/images/users/perfilDefault.png" alt="foto de perfil" class="foto-perfil">
						<% }%>
				</article>
				<article class="data-container col-6">
					<div class="d-flex align-items-center ">
						<h1 class="main-title"><%= profile.usuario %>
							<a href="/profile/edit">
								<i class="fas fa-cog"></i>
							</a>
						</h1>
						<a class="btn mt-3 ml-4" href="">SEGUIR</a>
					</div>
					<div>
						<ul>
							<li><%= profile.email %></li>
							<li>8 productos</li>
							<li>200 seguidores</li>
							<li>300 comentarios</li>
						</ul>
					</div>
				</article>
			</section>
		</section>

		<!-- Mis productos -->
		<section class="container products-wrapper">
			<section class="row">

				<article class="col-12">
					<h2 class="products-title">Mis productos</h2>
				</article>

				<!-- Show mis productos -->
				<% for( let i = 0; i < 8; i++ ) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="product/id/<%=productos[i].id%>">
								<figure class="product-box_image">
									<img src=<%=productos[i].imagen %> alt=<%=productos[i].nombre %>>
								</figure>
								
								<article class="product-box_data">
									<h2><%=productos[i].nombre %></h2>
									<p><%=productos[i].descripcion %></p>
									<p>Comentarios: <%= cantComentarios%></p>
								</article>
							</a>
						</section>
					</div>
				<% } %>

			</section>
		</section>
	</main>

	<!-- footer -->
	<%- include('./partials/footer') %>

</body>	
</html>