<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include('./partials/header') %>

		<main>
			<!-- Novedades -->
			<section class="container products-wrapper">
				<section class="row">
					<article class="col-12">
						<h2 class="products-title">Resultado de la busqueda: Harry Potter   <a href="/product/add"> <i class="fa-regular fa-pen-to-square"></i></a></h2> 
					</article>
					<!-- Show the "ultimos" products -->
					<% for( let i = 8; i < 12; i++ ) { %>
						<article class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="id/<%=informacionSearch[i].id%>">
									<figure class="product-box_image">
										<img src="<%=informacionSearch[i].imagen %>" alt="Imagen de <%=informacionSearch[i].nombre %>">
									</figure>
									<article class="product-box_data">
										<h2><%=informacionSearch[i].nombre %></h2>
										<p><%=informacionSearch[i].descripcion %></p>
										<p>Comentarios: 5</p>
									</article>
								</a>
							</section>
						</article>
					<% } %>
				</section>
			</section>

		</main>
		
		<!-- footer -->
		<%- include('./partials/footer') %>

	</body>

</html>